body{
	overflow-x: hidden;
}

h1{
	font-size: 300%;
	padding: 25px;
}

.jumbo-huge{
	height: 600px
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;

  display: flex;
  align-items: center;
}
