body{
	overflow-x: hidden;
	font-family: 'Carrois Gothic', sans-serif;
}

h1{
	text-align: center;
	font-size: 300%;
	padding-bottom: 50px;
}

h2{
padding-bottom: 40px;
}

.btn-custom-light{
color: white;
background-color:rgba(0, 0, 0, 0.01);
border:2px solid;
border-color: white;
font-size: 20px;

}


.fa{
	margin-botton: 0px;
	padding-bottom: 0px;
}

.row{
padding-top: 75px;
padding-bottom: 100px;
}


.navbar{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.jumbo-huge{
	height: 600px;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.jumbotron{
    background-image:
        linear-gradient(rgba(76, 127, 178, 0.95), rgba(76, 127, 178, 0.90)), 
        url('/img/startup.jpg');
    color: white;
}

.dark-container{
	background-color: rgba(76, 127, 178, 1.0);
	width: 100%;
	margin: 0px;
	color: #ffffff;
	
}


